h1 {
    text-align: center;
    color: #E61123;
}
img {
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 450px;
}

.contact-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
}